<div class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="navbar navbar-expand-sm">
          <ul class="navbar-nav justify-content-center">
            <li class="nav-item ">
              <a class="nav-link text-light" href="#">
                <i class="fa fa-facebook"></i>
                <span>Facebook</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                <i class="fa fa-twitter"></i>
                <span>Twitter</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                <i class="fa fa-google-plus"></i>
                <span>Google +</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                <i class="fa fa-pinterest"></i>
                <span>Pinterest</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                <i class="fa fa-instagram"></i>
                <span>Instagram</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                <i class="fa fa-tumblr"></i>
                <span>Tumblr</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                <i class="fa fa-youtube-play"></i>
                <span>Youtube</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">
                <i class="fa fa-snapchat-ghost"></i>
                <span>Snapchat</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>