.card {
    padding: 20px 20px !important;
    width: 340px !important;
    border: 1px solid blueviolet;
    background-color: #fbfcff;
  }
  
  #loginpage {
    padding-top: 7em;
  }
  
  #btnSubmit {
    margin-top: 30px
  }
  
  .error {
    font-size: small;
    color: red;
  }
  
  .card-signin {
    box-shadow: inset 0px 0px 0px 2px #343a40;
  }
  
  .card-title {
    color: darkblue
  }
  .nav-link{
    color: #3c7883 !important;
    font-weight: bold;
    display: contents;
}
.nav-item{
    margin-left: 20px !important;
    margin-right: 20px !important;
} 
.bg-light{
    background-color: #efdcbc !important;
}
#navbar-center{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80% !important;
    margin: 10px auto;
    border-radius: 25px;
}
#logging-form1{
  background-color: #ffffff !important;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top:5px;
  border-radius: 10px;
  opacity: 0.8;
}
div#AdminLogin{
  margin: 20%!important;
}