
<div class="navbar navbar-expand-md navbar-dark bg-white fixed-top">
        <a id="big-logo" class="navbar-brand text-muted" href="/">Foodholic</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>        

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul id="menu-top" class="navbar-nav bg-white">
            <li id="menu-item" class="nav-item text-muted nav-link active"><a href="/">Home</a></li>
            <li id="menu-item" class="nav-item text-muted nav-link" href="#"><a href="/">About</a></li>
            <li id="menu-item" class="nav-item text-muted nav-link" href="#"><a href="/">Secvices</a></li>
            <li id="menu-item" class="nav-item text-muted nav-link"><a href="/">Contact</a></li>
            <li id="menu-item" class="nav-item text-muted nav-link"><a href="/homepage/register">Register</a></li>
        </ul>
        </div>
    </div>