<h2 id="page-logo" >Best seller</h2>
<div id="best-sell" class="container">
    <div id="best-seller-bar" class="row">
        <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/burger1.jpg">
        </div>
        <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/pizza1.jpg">
        </div>
        <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/burger4.jpg">
        </div>
    </div>
    <div id="best-seller-bar" class="row">
        <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/burger1.jpg">
        </div>
        <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/pizza1.jpg">
        </div>
        <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/burger4.jpg">
        </div>
    </div>
    <div id="best-seller-bar" class="row">
        <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/burger1.jpg">
        </div>
        <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/pizza1.jpg">
        </div>
        <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/burger4.jpg">
        </div>
    </div>
</div>