<h2 id="page-logo2" >New arrival</h2>
<div id="best-sell" class="container">
    <div id="best-seller-bar" class="row">
        <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/featured6-585x585.jpg">
        </div>
        <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/jennifer-pallian-585x585.jpg">
        </div>
        <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/featured6-585x585.jpg">
        </div>
    </div>
    <div id="best-seller-bar" class="row">
        <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/featured6-585x585.jpg">
        </div>
        <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/cake-585x585.jpg">
        </div>
        <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/jennifer-pallian-585x585.jpg">
        </div>
    </div>
    <div id="best-seller-bar" class="row">
        <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/waffle-585x585.jpg">
        </div>
        <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/toa-heftiba-585x585.jpg">
        </div>
        <div class="col-sm-4">
            <img class="d-block w-100" src="../../assets/stefan-johnson-585x585.jpg">
        </div>
    </div>
</div>